# version: "3.8"

services:
  ipfs-node:
    image: ipfs/kubo:latest
    container_name: ipfs-node
    ports:
      - "4001:4001"       # swarm
      - "5001:5001"       # API
      - "8080:8080"       # gateway
    volumes:
      - ipfs_data:/data/ipfs
    networks:
      - flux-frame-net
    environment:
      - IPFS_API_ORIGINS=http://localhost:3000

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: flux-frame-backend
    env_file:
      - ../backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - ipfs-node
    networks:
      - flux-frame-net
    volumes:
      - ../backend:/app
    extra_hosts:
      - "host.docker.internal:host-gateway"

# database docker run -d --name fluxframe_db -p 5432:5432 -e POSTGRES_PASSWORD=1234567 postgres:17
  db:
    image: postgres:17
    container_name: fluxframe_db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234567
      - POSTGRES_DB=fluxframe_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - flux-frame-net

  # starknet-devnet:
  #   image: shardlabs/starknet-devnet-rs:latest-seed0
  #   container_name: starknet-devnet
  #   ports:
  #     - "5050:5050"
  #   command: ["--gas-price", "1"]
  #   networks:
  #     - flux-frame-net


  worker:
    build:
      context: ../worker
      dockerfile: Dockerfile
    container_name: flux-frame-worker
    env_file:
      - ./worker.env
    depends_on:
      - backend
      - ipfs-node
    networks:
      - flux-frame-net
    volumes:
      - ../worker:/app

volumes:
  ipfs_data:
  pgdata:
  

networks:
  flux-frame-net:
    driver: bridge
